*{
    margin: 0;
    padding: 0;
    font-family: "Roboto","sans-serif";
}
.section-one ,.section-two, .section-three{
    background: #1f2937;
    height: 500px;
    width: 100vw;
}
ul{
    display: flex;
    gap: 3rem;
}
li{
    list-style: none;
    color: #F9FAF8;
}
button{
    background: #3882F6;
    padding: 5px 18px;
    border-radius: 6px;
    border: none;
    color: white;
    font-weight: 700;
}

button:hover {
    background: #281b9c;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Intense shadow on hover */
}

h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.section-one-wrapper, .section-two-wrapper ,.section-three-wrapper{
    width: 70vw;
    margin: 0 auto;
    padding-top: 20px;
    color: white;
}
.section-one-top{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.section-one-bottom{
    margin-top: 20px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

img{
    margin-top: 60px;
    height: 200px;
}

.left{
    height: 165px;
    width: 400px;
}

p{
    margin-bottom: 10px;
}

/* section 2 */

.boz-img{
    width: 200px;
    height: 200px;
    border: solid #225bb8;
    border-radius: 15px;
    color: black;
}
.section-two{
    background: white;
    text-align: center;
    color: black;
}

.huh h1{
    margin-top:15px;
    color: black;
}
.huuh{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.box-p{
    justify-self:center;
    width: 150px;
    color: black;
    font-weight:100;
}
